* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  scrollbar-width:thin;
  scrollbar-color: black #f1f1f1; 
}
body {
  overflow-y: scroll;
}
.home,
.products,
.contact {
  display: flex;
  height: 95vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-image: url('../public/Images/Carhartt WIP Showcases Summer Denim Styles in _Boroughs_ Editorial.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}